<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Danh sách danh mục</title>
    <th:block th:replace="layoutAdmin :: link-css"></th:block>
</head>
<body>
<th:block th:replace="layoutAdmin :: header"></th:block>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper">
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/phim">
                        <i class="ti-layout-list-post menu-icon"></i>
                        <span class="menu-title">Quản lý phim</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/theloai">
                        <i class="ti-view-list-alt menu-icon"></i>
                        <span class="menu-title">Quản lý thể loại</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/quocgia">
                        <i class="ti-star menu-icon"></i>
                        <span class="menu-title">Quản lý quốc gia</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/account">
                        <i class="ti-view-list-alt menu-icon"></i>
                        <span class="menu-title">Quản lý tài khoản</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/comment">
                        <i class="ti-star menu-icon"></i>
                        <span class="menu-title">Quản lý đánh giá</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/message">
                        <i class="ti-star menu-icon"></i>
                        <span class="menu-title">Quản lý tin nhắn</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/paymentHistory">
                        <i class="ti-star menu-icon"></i>
                        <span class="menu-title">Quản lý lịch sử thanh toán</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="main-panel">
            <div class="content-wrapper">
                <form class="form-inline mb-4">
                    <div class="input-group mr-2">
                        <label>
                            <input type="text" class="form-control custom-search" name="info" placeholder="Nhập thông tin thanh toán">
                        </label>
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Tên người dùng</th>
                                            <th>Thời gian thanh toán</th>
                                            <th>Thông tin thanh toán</th>
                                            <th >Số tiền</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="paymentHistory : ${paymentHistories}">
                                            <td th:text="${paymentHistory.id}"></td>
                                            <td th:text="${paymentHistory.user.userName}"></td>
                                            <td th:text="${paymentHistory.paymentDate}"></td>
                                            <td th:text="${paymentHistory.paymentInfo}"></td>
                                            <td th:text="${paymentHistory.money}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li th:class="${paymentHistories.first ? 'page-item disabled' : 'page-item'}">
                            <a class="page-link" th:href="@{${'/admin/paymentHistory?page=' + (paymentHistories.number - 1) + '&size=' + paymentHistories.size + '&tenUser=' + (tenUser != null ? tenUser : '')}}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li th:each="i : ${#numbers.sequence(0, paymentHistories.totalPages - 1)}" th:class="${i == paymentHistories.number ? 'page-item active' : 'page-item'}">
                            <a class="page-link" th:href="@{${'/admin/paymentHistory?page=' + i + '&size=' + paymentHistories.size + '&tenUser=' + (tenUser != null ? tenUser : '')}}" th:text="${i + 1}"></a>
                        </li>
                        <li th:class="${paymentHistories.last ? 'page-item disabled' : 'page-item'}">
                            <a class="page-link" th:href="@{${'/admin/paymentHistory?page=' + (paymentHistories.number + 1) + '&size=' + paymentHistories.size + '&tenUser=' + (tenUser != null ? tenUser : '')}}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="layoutAdmin :: footer"></th:block>
</body>
</html>
