<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="layoutAdmin :: link-css"></th:block>
    <title>Thêm quốc gia mới</title>
</head>
<body>
<th:block th:replace="layoutAdmin :: header"></th:block>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper">
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/phim">
                        <i class="ti-layout-list-post menu-icon"></i>
                        <span class="menu-title">Quản lý phim</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/theloai">
                        <i class="ti-view-list-alt menu-icon"></i>
                        <span class="menu-title">Quản lý thể loại</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/quocgia">
                        <i class="ti-star menu-icon"></i>
                        <span class="menu-title">Quản lý quốc gia</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/account">
                        <i class="ti-view-list-alt menu-icon"></i>
                        <span class="menu-title">Quản lý tài khoản</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/comment">
                        <i class="ti-star menu-icon"></i>
                        <span class="menu-title">Quản lý đánh giá</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/message">
                        <i class="ti-star menu-icon"></i>
                        <span class="menu-title">Quản lý tin nhắn</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/paymentHistory">
                        <i class="ti-star menu-icon"></i>
                        <span class="menu-title">Quản lý lịch sử thanh toán</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Thêm quốc gia</h4>
                                <form th:action="@{/admin/quocgia/add}" th:object="${country}" method="post">
                                    <div class="col-6 mb-3">
                                        <label class="form-label" for="name">Tên quốc gia:</label>
                                        <input class="form-control" type="text" th:field="*{name}" id="name">
                                        <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <label class="form-label" for="nameanother">Tên quốc gia(Tiếng anh):</label>
                                        <input class="form-control" type="text" th:field="*{nameanother}" id="nameanother">
                                        <div class="text-danger" th:if="${#fields.hasErrors('nameanother')}" th:errors="*{nameanother}"></div>
                                    </div>
                                    <input type="submit" class="btn btn-primary" value="Lưu" style="margin-left: 15px;">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="layoutAdmin :: footer"></th:block>
</body>
</html>
