.box{
    text-align: center;
    background: #2a2727;
    width: 600px;
    height: auto;
    padding: 25px;
    position: absolute;
    left: 50%; top:50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 4px 8px rgba(242, 0, 0, 0.915);
    font-family: var(--ff-poppins);
}
.box h1{
    color: #fff;
}
.box input[type="password"]{
    background: none;
    outline: none;
    color: #fff;
    width: 300px;
    height: 50px;
    border-radius: 40px;
    padding: 0px 15px;
    margin: 15px 0px;
    border: #e50914;
    transition: 1s;
}
.box input[type="password"]:focus{
    width: 320px;
    border-color: #e50914;
    transition: 1s;
}

.btn-login {
    width: 100%;
    color: var(--white);
    font-size: var(--fs-11);
    font-weight: var(--fw-700);
    text-transform: uppercase;
    letter-spacing: 2px;
    align-items: center;
    gap: 5px;
    padding: 16px 30px;
    margin-bottom: 20px;
    border: 2px solid var(--citrine);
    border-radius: 50px;
    transition: var(--transition-1);
    background: var(--rich-black-fogra-29);
  }
  
  .btn-login > ion-icon { font-size: 18px; }
  
  .btn-login:is(:hover, :focus) {
    background: var(--citrine);
    color: var(--xiketic);
  }
h4{
    color: #ffffff8b;
    font-size: var(--fs-10);
}
