<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime247</title>

    <!--
      - favicon
    -->
    <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">

    <!--
      - custom css link
    -->
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/setpassword.css">


    <!--
      - google font link
    -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <main>
        <form th:action="@{/user/forgotPassword/changePassword/{id}(id=${user.id})}" th:object="${user}" method="post" class="box">
            <div>
                <input class="formbold-form-input" type="hidden" th:field="*{userName}" id="userName">
                <input class="formbold-form-input" type="hidden" th:field="*{name}" id="name">
                <input class="formbold-form-input" type="hidden" th:field="*{phone}" id="phone">
                <input class="formbold-form-input" type="hidden" th:field="*{email}" id="email">
                <input class="formbold-form-input" type="hidden" th:field="*{tuoi}" id="tuoi">
                <input class="formbold-form-input" type="hidden" th:field="*{oldPassword}" id="oldPassword">
            </div>

            <h1>Cập nhật mật khẩu</h1>
            <div>
                <input class="formbold-form-input" type="password" minlength="6" maxlength="20" th:field="*{password}" id="password" placeholder="Vui lòng nhập mật khẩu mới">
                <div class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
            </div>
            <div>
                <input class="formbold-form-input" type="password" minlength="6" maxlength="20" th:field="*{confirmPassword}" id="confirmPassword" placeholder="Xác nhận mật khẩu">
                <div class="text-danger" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></div>
            </div>

            <div>
                <button class="btn-login">Cập nhật</button>
            </div>
        </form>
    </main>

    <!--
      - custom js link
    -->
    <script src="/js/script.js"></script>

    <!--
      - ionicon link
    -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>