<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <th:block th:replace="layoutUser::link-css"></th:block>
    <link rel="stylesheet" th:href="@{/css/info.css}">
</head>
<body>
<th:block th:replace="layoutUser::header"></th:block>

<main >
    <div class="container-fluid page-body-wrapper">
        <!-- partial -->
        <div class="main-panel">
            <h2 style="margin-left: 10px" th:text="'Danh sách phát: '+${dexuat.name}"></h2>
            <a style="margin-left: 10px" href="/taikhoan" th:text="'Trờ về tài khoản'"></a>
            <br>
            <br>
            <div class="detail">
                <div class="col-12 grid-margin">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive has-scrollbar">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>
                                        </th>
                                        <th> Tên phim </th>
                                        <th> Tình trạng </th>
                                        <th> Số tập </th>
                                        <th> Quốc gia </th>
                                        <th> </th>
                                    </tr>
                                    </thead>
                                    <tbody th:each="movie : ${movies}">
                                    <tr>
                                        <td>
                                            <img class="imgs" th:src="${movie.imageUrl}" alt="image" />
                                        </td>
                                        <td style="margin-top: 50px" th:text="${movie.name}"> </td>
                                        <td th:if="${movie.state} == true">Hoàn thành</td>
                                        <td th:if="${movie.state} == false">Chưa hoàn thành</td>
                                        <td th:text="${movie.episodes.size()}"></td>
                                        <td th:if="${movie.country !=null}" th:text="${movie.country.name}"></td>
                                        <td th:if="${movie.country ==null} ">Không rõ</td>
                                        <td>
                                            <div style="display: flex">
                                                <a class="langua" th:href="@{/phim/chitiet/{movieId}(movieId=${movie.movieId})}">
                                                    <button style="height: 10px"  class="btn btn-primary"><ion-icon name="play-circle-outline"></ion-icon></button>
                                                </a>
                                                <form th:action="@{/taikhoan/danhsachphat/xoaphim/{dexuatId}/{movieId}(dexuatId = ${dexuat.id},movieId =${movie.movieId})}" method="post">
                                                    <button style="height: 10px;margin-left: 10px" class="btn btn-primary" onclick="return confirm('Bạn có chắc chắn muốn xóa?')"><ion-icon name="trash-outline"></ion-icon></button>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<th:block th:replace="layoutUser::footer"></th:block>
</body>
</html>